body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

button {
  color: black;
  background-color: #FFC;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 1px;
  border-color: #333;
  border-style: solid;
  border-width: 2px;
  padding: 5px 8px;
}

button:disabled {
  background-color: #EEE;
  color: #555;
}

.controlrow {
  margin-bottom: 8px;
  line-height: 2;
}

.app {
  max-width: 600px;
  padding-left: 16px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  margin: 5px 0 15px;
}

textarea,input.text {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 7px;
  outline: 0;
  -webkit-appearance: none;
}

input.text:focus {
  border-color: #339933;
}


#controls {
  position: fixed;
  bottom: 10px;
  right: auto;
  left: auto;
  width: 300px;
}

#moveList {
  height: 550px;
  width: 300px;
}

.current {
  font-weight: bold;
  font-size: 24px;
}

#selection {
  width: 320px;
  position: fixed;
  top: 0px;
  left: 16px;
  right: 16px;
  height: 164px;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 4px;
  border-bottom: #AAA dashed 2px;
}

.scrollable {
  padding-top: 206px;
}

#sequence {
  background-color: white;
  line-height: 1.8;
}
